<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark mdb-color grey" [containerInside]="true" >
  <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#"><strong><img src="./assets/150.jpg" Width="65%" 

alt="rounded"></strong></a>
  </mdb-navbar-brand>
  <links>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
          <h5>
            <li class="nav-item active">
                <a class="nav-link waves-light" href="home" mdbWavesEffect>Home</a>
              
            </li>
          </h5>
          <h5>
            <li class="nav-item">
                <a class="nav-link waves-light" href="aboutus" mdbWavesEffect>About us</a>
            </li>
            </h5>
          <h5>
            <li class="nav-item dropdown btn-group" dropdown>
            <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Services<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" href="hotspot" mdbWavesEffect>WIFI Hotspot</a>
                
                <a class="dropdown-item waves-light" href="domain" mdbWavesEffect>Domain Controller</a>
                <a class="dropdown-item waves-light" href="fileserver" mdbWavesEffect>File Server</a>
                <a class="dropdown-item waves-light" href="systemmanage" mdbWavesEffect>System 

Managment</a>
                <a class="dropdown-item waves-light" href="systemmonitoring" mdbWavesEffect>System 

Monitoring</a>
                <a class="dropdown-item waves-light" href="streaming" mdbWavesEffect>Streaming System</a>
                <a class="dropdown-item waves-light" href="cctv" mdbWavesEffect>CCTV</a>
                        
            </div>
        </li>
      </h5>
      <h5>
        <li class="nav-item">
          <a class="nav-link waves-light" href="product" mdbWavesEffect>Product</a>
      </li>
    </h5>
  <h5>
      <li class="nav-item">
        <a class="nav-link waves-light" href="contactus" mdbWavesEffect>Contact us</a>
    </li>
  </h5>

      </ul>
      
   
      
  </links>
</mdb-navbar>
  
  
  
 <!-- Jumbotron -->
 <div class="jumbotron text-center">

  <!-- Title -->
  <h4 class="card-title h4 pb-2"><strong>CCTV</strong></h4>

  <!-- Card image -->
  <div class="view overlay my-4 waves-light" class="center" mdbWavesEffect>
    <img src="./assets/camera.jpg" class="img-fluid" alt="">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  

  <h5 class="#e0e0e0 h5 mb-4">CCTV</h5>
  <div class="row d-flex justify-content-center">
  <div class="col-xl-7 pb-2">
  <p class="card-text">Hikvision Product</p>
  <p class="card-text">Indoor Outdoor IP66 Waterproof</p>
  <p class="card-text">IR Camera,IP Camera</p>
  <p class="card-text">HDTVI / HDCVI / AHD / CVBS</p>
  <p class="card-text">Lens 2.8mm, 103 Angle of view</p>
  <p class="card-text">Hikvision Wi-Fi IPC</p>

</div>
</div>


</div>
<!-- Jumbotron -->
      
      
      <div>&nbsp;</div>
  
  
  
  
  <!-- Footer -->
  <footer class="page-footer font-small mdb-color grey pt-4">
  
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
  
        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Motto</h5>
        <p>The only way to do great work is to love what you do.</p>
        <p></p>
  
      </div>
      <!-- Grid column -->
  
      <hr class="clearfix w-100 d-md-none">
  
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
  
        <ul class="list-unstyled">
          <li>
            <p>
              <a href="home">SERVICE</a>
            </p>
          </li>
          <li>
            <p>
              <a href="aboutus">ABOUT US</a>
            </p>
          </li>
          <li>
            <p>
              <a href="product">PRODUCT</a>
            </p>
          </li>
          <li>
  
          </li>
        </ul>
  
      </div>
      <!-- Grid column -->
  
      <hr class="clearfix w-100 d-md-none">
  
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  
        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
  
        <ul class="list-unstyled">
          <li>
            <p>
              <mdb-icon fas icon="home" class="mr-3"></mdb-icon> 55/816 M7 wichit phuket 83000
            </p>
          </li>
          <li>
            <p>
              <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> futurepluspluss@gmail.com
            </p>
          </li>
          <li>
            <p>
              <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 061 236 0656
            </p>
          </li>
          <li>
            <p>
              <mdb-icon fab icon="line" class="mr-3"></mdb-icon> + 061 236 0656
            </p>
          </li>
        </ul>
  
      </div>
      <!-- Grid column -->
  
      <hr class="clearfix w-100 d-md-none">
  
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
  
        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
  
        <!-- Facebook -->
        <a mdbBtn floating="true" type="button" color="btn-fb" mdbWavesEffect>
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <!-- Twitter -->
        <a type="button" mdbBtn floating="true" color="btn-tw" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <!-- Google +-->
        <a type="button" mdbBtn floating="true" color="btn-gplus" mdbWavesEffect>
          <mdb-icon fab fab icon="google-plus"></mdb-icon>
        </a>
        <!-- line -->
        <a type="button" mdbBtn floating="true" color="btn-line" mdbWavesEffect>
          <mdb-icon fab icon="line"></mdb-icon>
        </a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </div>
  <!-- Footer Links -->
  
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> www.futureplusplus.com</a>
  </div>
  <!-- Copyright -->
  
  </footer>
  <!-- Footer -->